*.iml
.idea/*
.kotlin/*
.claude/*
.gradle/*
build/*
CLAUDE.md
TODO.md
docstencil-core/build/*
docstencil-core/.gradle/*
docstencil-core/.kotlin/*
examples/*/build/*
examples/*/.gradle/*
examples/*/.kotlin/*
